{% extends 'base.html.twig' %}

{% block body %}
    <img src="../img/fondText.png" class="fondText"alt="">
    <div class="container">
        <div class="para1">
            <h2>Les origines du Feng Shui</h2>
            <p>Feng Shui est une ancienne science chinoise portant sur le rôle des énergies pour influencer la qualité de vie de chaque personne. 
            En traduction, Feng Shui signifie vent et l'eau, les éléments de base de la vie, et il est fondé sur le principe selon lequel chaque objet et chaque être humain émane l'énergie. Afin d'avoir une vie harmonieuse, une situation financière et émotionnelle satisfaisante, les énergies d'une personne doivent positivement interagir avec les énergies des objets autour de nous.</p>
        </div>
        <div class="para2"> 
            <h2>Les fondamentaux</h2>
            <p>Le Vent et l’Eau sont les deux formes les plus fondamentales de l’énergie de la vie. Evidemment sans air et sans eau, la vie serait impossible. Ils symbolisent également les manifestations du mouvement de l’énergie. -->
            Le Feng Shui a donc pour but d’harmoniser l’énergie environnementale d’un lieu de manière à favoriser la santé, le bien-être et la prospérité des habitants.</p> 
        </div>
        <div class="para3">
            <h2>Les bienfaits</h2>
            <p>Appliquer le Feng Shui dans une entreprise, un bureau ou encore une salle de réunion, permet de créer un espace sous bonnes influences. De plus, il permet de favoriser l’entente au sein d’une équipe de travail en dirigeant chacun dans sa bonne direction. Il permet également d’éviter l’absentéisme grâce à un lieu et une ambiance agréable, d’harmoniser les relations avec les partenaires économiques de l’entreprise. Par conséquent il augmente la motivation et l’épanouissement dans un cadre bienfaisant.</p>
        </div>
    </div>
{% endblock %}