{% extends 'base.html.twig' %}

{% block title %} e-Feng Shui {% endblock %}

{% block body %}


    <h1 class=titlefaq> {% trans %}F.A.Q {% endtrans %}</h1>

<div class="accordion" id="accordionExample">

  <div class="cardfaq">
  <div class="questions">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          {% trans %}1- From a distance, how does it work?{% endtrans %}
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p class="textFaq">
            {% trans %}I would like to draw your attention to the fact that a traditional feng shui analysis requires a significant investment of time;
            1.you communicate to us the criteria of the place concerned;
            2.The Feng-Shui Master performs the following steps: ...lt;br;br;ong;
              
                - Topographical analysis&lt;br&gt;
                - Feng-shui diagnosis and assessment (indoor - outdoor)
                - Preparatory work on your plans&lt;br&gt;
                - Report writing&lt;br&gt; Report writing&lt;br&gt;
                         
            3.you receive your expertise by mail&lt;br&gt;
            4. you put into practice this valuable information that will change your life ☺{% endtrans %}<br>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          {% trans %}2- How long does the analysis take?{% endtrans %}
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p class="textFaq">
          {% trans %}You'll receive the report within a week.
          Your remote feng shui analysis report is sent to you by email as soon as it is written.
          After reading your report, you will be able to implement all the Feng-shui advice given.<br>
          This complete analysis report will give you the Feng Shui techniques to intensify the beneficial energies. It also gathers remedies to minimize the harmful energies.<br>
          Decoration recommendations will allow you to enhance the Feng Shui potential of your living space. These recommendations include the shapes to be preferred, the materials or the colours.<br>{% endtrans %}
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          {% trans %}3- When is the best time to use feng shui?{% endtrans %}
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p class="textFaq">
          {% trans %}Feng shui always adapts to your situation so it's never too late, never too early!
          However, there are times when it's better to do so:<br><br>
          - Buying a land, a house or an apartment <br>
          - Construction of a property<br>
          - Add a water location<br>
          - Moving out.
          - Torque problems<br>
          - Difficulties finding a job<br>
          - Health concerns.
          - Improve your life<br>
            
          The same advice is given to professionals and companies.<br><br>{% endtrans %}
        </p>
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingFor">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
          {% trans %}4- How much does it cost ?{% endtrans %}
        </button>
      </h2>
    </div>
    <div id="collapseFor" class="collapse" aria-labelledby="headingFor" data-parent="#accordionExample">
      <div class="card-body">

        <p class="textFaq">
          {% trans %}A basic fee of 200€ is required for the preparation and writing of the report of your feng shui analysis.
          To this rate will be added the rate for the analysis itself, which depends on :<br><br>.
          -Number of parts to be analyzed<br>
          -Number of levels (or floors)<br>
          -The exteriors (garden, terrace, balcony, park, etc.)<br>
          -Specific requests (e.g. swimming pool installation)<br>{% endtrans %}
        </p>
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        {% trans %}5- Can feng shui be used to build a house ?{% endtrans %}
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <p class="textFaq">
          {% trans %}The objective of the work of the Feng-shui expert will be to study all the possibilities to select THE BEST !<br>
          How do you position your front door?
          How to distribute the rooms in your home?
          What about the exteriors? How to make the most of them?
          If you build, you have the chance to "decide" that potential.
          You have the power to decide which elements impact in terms of Feng Shui like your door, your star grid or your room.
          You must admit it would be a shame not to do so.{% endtrans %}
        </p>
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          {% trans %}6- Is there such a thing as feng shui for professionals ?{% endtrans %}
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
       <p class="textFaq">
       {% trans %}The places we work in, the way they're organized, and
        and our vitality have a strong influence on our professional success, our vitality,<br> 
        our interpersonal communication and personal development.
        Interiority and interiority are in permanent interaction !<br><br>

        A harmonious and balanced work space according to the precepts of Feng Shui <br>
        traditional not only reduces stress, de-motivation, and the <br>
        internal conflicts, but also to increase vitality, creativity and performance <br>
        of each of the collaborators.{% endtrans %}
        </p>
      </div>
    </div>
  </div>
  </div>


{% endblock %}
