{% extends 'base.html.twig' %}

{% block title %} e-Feng Shui {% endblock %}

{% block body %}


    <h1 class=titlefaq> F.A.Q </h1>


<!-- Vérifier la taille des questions H2 ?? -->

<div class="accordion" id="accordionExample">

        <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          1- A distance, comment ça marche ?
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p class="textFaq">J’attire votre attention sur le fait qu’une analyse feng-shui traditionnel demande un investissement en temps non négligeable :<br><br>
            1.Vous nous communiquer les critères du lieu concerné<br>
            2.Le Maître Feng-Shui effectue les étapes suivantes : <br><br>
              
                - Analyse topographique<br>
                - Diagnostic et bilan Feng-shui (intérieur – extérieur)<br>
                - Travail préparatoire sur vos plans<br>
                - Rédaction de rapport<br><br>
                         
            3.Vous recevez votre expertise par mail<br>
            4.Vous mettez en pratique ces précieuses informations qui vous changeront la vie ☺<br>
          
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2- Combien de temps prend l'analyse ?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p class="textFaq">Vous recevrez le rapport sous une semaine.<br>
        Votre rapport d’analyse feng shui à distance vous est envoyé par mail dès rédaction.<br>
        A la suite de la lecture de votre rapport, vous pourrez mettre en place tous les conseils Feng-shui donnés.<br>
        Ce rapport complet d’analyse vous donnera les techniques Feng Shui pour intensifier les énergies bénéfiques. Il rassemble aussi des remèdes pour minimiser les énergies néfastes.<br>
        Des recommandations de décoration vous permettront de renforcer le potentiel Feng-shui de votre lieu de vie. Ces conseils comprennent les formes à privilégier, les matières ou les couleurs.<br>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3- Quel est le meilleur moment pour faire appel au feng-shui ?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p class="textFaq">Le feng shui s’adapte toujours à votre situation donc il n’est jamais trop tard, ni trop tôt !<br>
        Toutefois, certains moments y sont plus propices :<br><br>
        -	Achat un terrain, une maison ou un appartement <br>
        -	Construction d’un bien<br>
        -	Ajouter un emplacement d’eau<br>
        -	Déménagement<br>
        -	Problèmes de couple<br>
        -	Difficultés à trouver un emploi<br>
        -	Soucis de santé<br>
        -	Améliorer votre vie<br><br>
        	
        Les mêmes conseils sont attribués aux professionnels et aux entreprises.<br>
        </p>
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingFor">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
          4- Combien ça coûte ?
        </button>
      </h2>
    </div>
    <div id="collapseFor" class="collapse" aria-labelledby="headingFor" data-parent="#accordionExample">
      <div class="card-body">

        <p class="textFaq">
        Un tarif de base de 200€ est à prévoir pour la préparation et la rédaction du rapport de votre analyse feng shui.<br>
        A ce tarif viendra s’ajouter la tarification de l’analyse à proprement parler qui dépend de :<br><br>
        -Nombre de pièces à analyser<br>
        -Nombre de niveaux  (ou étages)<br>
        -Les extérieurs (jardin, terrasse, balcon, parc, etc.)<br>
        -Demandes spécifiques (implantation piscine par exemple)<br>
        </p>
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        5- Peut-on utiliser le feng-shui pour la construction d'une maison ?
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <p class="textFaq">
        L’objectif du travail de l’expert Feng-shui va être d’étudier toutes les possibilités pour sélectionner LA MEILLEURE !<br>
        Comment positionner votre porte d’entrée ?<br>
        Comment répartir les pièces de votre intérieur ?<br>
        Et les  extérieurs ? Comment en tirer le meilleur parti ?<br>
        Si vous construisez, vous avez la chance de pouvoir « décider » de ce potentiel.<br>
        Vous avez le pouvoir de décider des éléments impactant en termes de Feng-shui comme votre porte, votre grille d’étoiles ou encore votre chambre.<br>
        Avouez que ce serait dommage de s’en priver !<br>
        </p>
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button id="questionsfaq" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          6- Le feng-shui pour les professionnels, ça existe ? ?
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
       <p class="textFaq">
       Les lieux dans lesquels nous travaillons, la manière dont ils sont organisés et <br>
        aménagés, influencent fortement notre réussite professionnelle, notre vitalité,<br> 
        notre communication interpersonnelle ainsi que notre développement personnel.<br>
        Intérieur et intériorité sont en permanente interaction !<br><br>

        Un espace de travail harmonieux et équilibré selon les préceptes du Feng Shui <br>
        traditionnel permet non seulement de réduire le stress, la démotivation et les <br>
        conflits internes, mais aussi d’augmenter la vitalité, la créativité et la performance <br>
        de chacun des collaborateurs.<br>
        </p>
      </div>
    </div>
  </div>


{% endblock %}
