{% extends 'base.html.twig' %}

{% block title %} F.A.Q {% endblock %}

{% block body %}

<div class="container">
    <h1> F.A.Q </h1>


<!-- Vérifier la taille des questions H2 ?? -->

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1- A distance, comment ça marche ?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        votre attention sur le fait qu’une analyse feng-shui traditionnel demande un investissement en temps non négligeable :
            
        1.	Vous nous communiquer les critères du lieu concerné
        2.	Le Maître Feng-Shui effectue les étapes suivantes : 
        o	Analyse topographique
        o	Diagnostic et bilan Feng-shui (intérieur – extérieur)
        o	Travail préparatoire sur vos plans
        o	Rédaction de rapport
        3.	Vous recevez votre expertise par mail J’attire
        4.	Vous mettez en pratique ces précieuses informations qui vous changeront la vie 
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2- Combien de temps prend l'analyse ?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Vous recevrez le rapport sous une semaine.
        Votre rapport d’analyse feng shui à distance vous est envoyé par mail dès rédaction.
        A la suite de la lecture de votre rapport, vous pourrez mettre en place tous les conseils Feng-shui donnés.
        Ce rapport complet d’analyse vous donnera les techniques Feng Shui pour intensifier les énergies bénéfiques. Il rassemble aussi des remèdes pour minimiser les énergies néfastes.
        Des recommandations de décoration vous permettront de renforcer le potentiel Feng-shui de votre lieu de vie. Ces conseils comprennent les formes à privilégier, les matières ou les couleurs.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3- Quel est le meilleur moment pour faire appel au feng-shui ?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Le feng shui s’adapte toujours à votre situation donc il n’est jamais trop tard, ni trop tôt ! 
        Toutefois, certains moments y sont plus propices :
        o	Achat un terrain, une maison ou un appartement 
        o	Construction d’un bien
        o	Ajouter un emplacement d’eau
        o	Déménagement
        o	Problèmes de couple
        o	Difficultés à trouver un emploi
        o	Soucis de santé
        o	Améliorer votre vie
        o	
        Les mêmes conseils sont attribués aux professionnels et aux entreprises.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          4- Combien ça coûte ?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Un tarif de base de 200€ est à prévoir pour la préparation et la rédaction du rapport de votre analyse feng shui.  A ce tarif viendra s’ajouter la tarification de l’analyse à proprement parler qui dépend de :
        Nombre de pièces à analyser
        Nombre de niveaux  (ou étages)
        Les extérieurs (jardin, terrasse, balcon, parc, etc.)
        Demandes spécifiques (implantation piscine par exemple)
 
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        5- Peut-on utiliser le feng-shui pour la construction d'une maison ?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        L’objectif du travail de l’expert Feng-shui va être d’étudier toutes les possibilités pour sélectionner LA MEILLEURE
        Comment positionner votre porte d’entrée ?
        Comment répartir les pièces de votre intérieur ?
        Et les  extérieurs ? Comment en tirer le meilleur parti ?
        Si vous construisez, vous avez la chance de pouvoir « décider » de ce potentiel.
        Vous avez le pouvoir de décider des éléments impactant en termes de Feng-shui comme votre porte, votre grille d’étoiles ou encore votre chambre.
        Avouez que ce serait dommage de s’en priver !
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          6- Le feng-shui pour les professionnels, ça existe ? ?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
       les lieux dans lesquels nous travaillons, la manière dont ils sont organisés et 
        aménagés, influencent fortement notre réussite professionnelle, notre vitalité, 
        notre communication interpersonnelle ainsi que notre développement personnel.
        Intérieur et intériorité sont en permanente interaction !

        Un espace de travail harmonieux et équilibré selon les préceptes du Feng Shui 
        traditionnel permet non seulement de réduire le stress, la démotivation et les 
        conflits internes, mais aussi d’augmenter la vitalité, la créativité et la performance 
        de chacun des collaborateurs.

      </div>
    </div>
  </div>
</div>


{% endblock %}
