@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
    font-family: "Noticia Text";
    @import url('https://fonts.googleapis.com/css?family=Noticia+Text&display=swap');
    font-family: "Dancing Script";
    @import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
}

/*******RESET CSS ******************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******HEADER******************/
body{
    background-color: #edf7f1;
        margin: 0;
        padding: 0;
        width: auto;
    }


.navbar-logo h1{
margin-top: -5px;   
font-size: 30px;
font-family: 'Dancing Script', cursive;
}


.icone-entete i{
    color: red;
    padding: 5px;
}
.icone-entete{
    margin-top: 25px;
    margin-left: 40px;
}

.col-lg-1{
    margin-top: 15px;
    padding: 10px;  
}

.nav-list{
    list-style: none;
    line-height: 40px;
    margin-right: 50px;
    text-align: right;
}

.nav-list li{
    display: inline-block;
    font-size: 25px;
    font-family: 'Noticia Text', serif;
    text-decoration:none;
}
.nav-link, .mention a{
    color: black;
}

/***************CARROUSEL***********/


/* page accueil */
body{
    background: #edf7f1;
    
}

.carousel-inner{
    position: relative;
  

}

.btn_diagnostic{
    padding: 40px 0px 0px 50px;
    display: flex;
    justify-content: center;
}

.buttonDiag{
    border-radius: 10px;
    background-color:#ff8a84;
    width: 320px;
    height: 90px;
   
}

a{
    text-decoration: none;
    color: white;
}

h1{
    margin: 70px;
    font-size: 50px;
}
.concept{
    display: flex;
    margin: 50px;

}
/********************************************* INSCRIPTION */

.fondText { 
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -50;

  
 
}
.container {
    width: 1200px;
    height: 500px;
    background-color: white;
    border: rgba(0, 128, 0, 0.507);
    border-radius: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

  

}

h2{
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    color : rgba(0, 128, 0, 0.507);
    
}

.para1 {
    width: 400px;
    height: 450px;
    margin: 30px;
    padding: 10px;
    text-align: justify;
    font-size: 16px;
}
/********************************************* ESTIMATION */
/* Title */
h6{
font-weight: bold;
color:#4d4d4d;
}
/* CSS talk bubble */
.talk-bubble {
margin: 40px;
display: inline-block;
position: relative;
width: 150px;
height: auto;
background-color: rgba(237,241,241,0.3);

}
.border{
border: 8px solid #666;
}
.round{
border-radius: 30px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;

}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* talk bubble contents */
.talktext{
padding: 1em;
text-align: justify;
line-height: 1.5em;
font-size: 12px;
color:#4d4d4d;
}
.talktext p{
/* remove webkit p margins */
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
}

/* INPUT m carre */
.inputMcarre{
    width: 40px;;
}


/********************************************* INSCRIPTION */

.para-concept{
    width: 60%;
    padding: 10px 150px 50px 50px;
    text-align: justify;
    font-size: 16px;
  
   
}
.image{
    width: 40%;
    padding: 0px 150px 0px 50px;


}
img{
    width: 320px;
    height: 330px;
}
.buddha{
    position: fixed;
    right: 10px;
    bottom: 10px;


}
.buddha img{
    width: 90px;
    height: 90px;

}

/*--------------------------------------------------------------------------------------------------------- */

/* page feng shui */


.fondText { 
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -50;

  
 
}
.container {
    width: 1200px;
    height: 500px;
    background-color: white;
    border: rgba(0, 128, 0, 0.507);
    border-radius: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;


  

}

h2{
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    color : rgba(0, 128, 0, 0.507);
    
}

.para1 {
    width: 400px;
    height: 450px;
    margin: 30px;
    padding: 10px;
    text-align: justify;
    font-size: 16px;
}

/********************************************* ESTIMATION */
.estimation{
    display:flex;
    justify-content: end;
    position: fixed;
    right: 10px;
    bottom: 100px;
}
.estimation2{
    display:flex;
    justify-content: end;
    position: fixed;
    right: 10px;
    bottom: 300px;
}

/* Title */
h5{
font-weight: bold;
color:#4d4d4d;
}
/* CSS talk bubble */
.talk-bubble {
margin: 40px;
display: inline-block;
position: relative;
width:280px;
height: auto;
background-color: rgba(237,241,241,0.8);

}
.border{
border: 8px solid #666;
}
.round{
border-radius: 30px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
  
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
content: ' ';
position: absolute;
width: 0;
height: 0;
left: 30px;
right: auto;
top: auto;
bottom: -40px;
border: 20px solid;
border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
content: ' ';
position: absolute;
width: 0;
height: 0;
left: 38px;
right: auto;
top: auto;
bottom: -20px;
border: 12px solid;
border-color: lightyellow transparent transparent lightyellow;
}

/* talk bubble contents */
.talktext{
padding: 1em;
text-align: justify;
line-height: 1.5em;
font-size: 12px;
color:#4d4d4d;
}
.talktext p{
/* remove webkit p margins */
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
}

/* INPUT m carre */
.inputMcarre{
    width: 40px;;
}

/* Button */

.button{
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 8px;
  border-radius: 10px;
  background:rgb(172,215,189);
  color:#4d4d4d;
}

/* Montant */
#montant{
  font-weight: bold;
  color:#ff8a84;
}

/********************************************* CONNEXION */
.connexion{
    width:300px;
    height:300px;
    position:absolute;
    left:500px;
    top:200px;
}

/* bouton se connecter */
.btn-secondary{
    margin: 10px 0;
}

/********************************************* CONTACT */

#contenuContact{
    margin:100px 100px;
}
/******************FOOTER************/
.page-footer{
    padding-top: 20px;
    
    background:#acd7bd;
    width: 100%;
    
}
.container-fluid a, h5{
    font-size: 22px;
}
.memtion{
text-align: center;
}
.register-newsletter{
    float: left;
}

.reseaux-sociaux i{
    padding: 15px 10px;
}

.fa-facebook{
    color: blue;
}
.fa-instagram{
    color:purple;
}

.border{
border: 8px solid #666;
}

.round{
border-radius: 30px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;

}

/********************************************* CONNEXION */
.connexion{
    width:300px;
    height:300px;
    position:absolute;
    left:500px;
    top:200px;
}

/* bouton se connecter */
.btn-secondary{
    margin: 10px 0;
}

/********************************************* CONTACT */

#contenuContact{
    margin: 100px 100px;
}

/************** FAQ */

.card{
    background-color:white;
}

.abc{
    color:red;
}

/********************************************* FORMULAIRE DIAGNOSTIQUE */

#second, #third{
    display: none;
}

* {
    margin:0;
    padding:0;
}


/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
// #msform fieldset {
// 	background: white;
// 	border: 0 none;
// 	border-radius: 3px;
// 	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
// 	padding: 20px 30px;
	
// 	box-sizing: border-box;
// 	width: 80%;
// 	margin: 0 10%;
	
// 	/*stacking fieldsets above each other*/
// 	position: absolute;
// }
/*Hide all except first fieldset*/

/*inputs*/
#msform input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
    width: 36px;
    height: 36px;
	line-height: 36px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 36px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: rgb(95, 87, 87);
	position: absolute;
	left: -50%;
    top: 15px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

#progressbar li.done:before{
    background: #27AE60;
    color: white;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: rgb(202, 226, 212);
    color: white;
}








// *, *:after, *:before {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: "Open Sans";
//   }
  
  
  /* Form Progress */
//   .progress {
//     width: 1000px;
//     margin: 20px auto;
//     padding: 100px;
//     text-align: center;
//   }
//   .progress .circle,
//   .progress .bar {
//     display: inline-block;
//     background:  rgb(207, 206, 206);
//     width: 36px;
//     height: 36px;
//     border-radius: 36px;
//     margin-top: 1px;
//   }
//   .progress .bar {
//     position: relative;
//     width: 80px;
//     height: 0px;
//     margin: 20px 0px 10px 0px;
//     border-bottom: none;
//     border-left: none;
//     border-right: none;
//     border-radius: 0;
//     border: 1px solid rgb(207, 206, 206);
//   }
//   .progress .circle .label {
//     display: inline-block;
//     width: 36px;
//     height: 36px;
//     line-height: 36px;
//     border-radius: 36px;
//     margin-top: 1px;
//     color: #b5b5ba;
//     font-size: 17px;
//   }
//   .progress .circle .title {
//     color: #b5b5ba;
//     font-size: 13px;
//     line-height: 30px;
//     margin-left: -5px;
//   }
  
//   /* Done / Active */
//   .progress .bar.done,
//   .progress .circle.done {
//     background: #eee;
//   }
//   .progress .circle.done .label {
//     color: #FFF;
//     background: #acd7bd;
//     box-shadow: inset 0 0 2px rgba(0,0,0,.2);
//   }
//   .progress .circle.done .title {
//     color: #444;
    
//   }
//   .progress .circle.active .label {
//     color: #FFF;
//     background: #93dbf9;
//     box-shadow: inset 0 0 2px rgba(0,0,0,.2);
//     width: 40px;
//     height: 40px;
//     margin: -1px 10px 0px -2px;
//     font-size: 25px;
//     font-weight: bolder;
//   }
//   .progress .circle.active .title {
//     color: #0c95be;
//   }



////LABEL BOUTON  IMAGE DOMICILE