{% extends 'base.html.twig' %}

{% block title %}Efengshui{% endblock %}

 
{% block body %}
    <!-- Caroussel Bootstarp -->
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="10000">
            <img src="../img/img16.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="2000">
            <img src="../img/img16.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
      <div class="btn_diagnostic">

        <button class="buttonDiag"><a href="">Commencez votre Diagnostic</a></button>
        
      </div>
<!-- Fin de Caroussel Bootstarp -->  
  <h2>L'expertise Feng Shui <Br>en utilisant l'intelligence artificielle </Br></h2>
  <div class="concept">
    <div class="para-concept">
      <p>
        Le Feng Shui, c’est un art ancestral chinois signifiant vent pour Feng et eau pour Shui, basé sur l'harmonisation de l'espace et de l’individu qui y vit. L'intervention d'un spécialiste, dans notre cas Monica, experte depuis plus de 5 ans, appelée ‘‘Maître’, est nécessaire pour pratiquer la régulation énergétique des lieux. Afin de rendre un diagnostic, elle commence par la prise de mesure de chaque de la maison ou du bureau. Analyse par des calculs mathématiques, remet un rapport puis l'accompagnement. Afin elle termine par la mise en place c'est-à-dire le changement des éléments de la pièce par ses soins ou par le client lui-même. 
        Nous sommes dans une ère où la
        nouvelle technologie est et sera de plus en plus utilisée. La mise en place d’une intelligence artificielle (chatbot) pourra d'une part nous permettra d'avoir une accessibilité rapide à des informations nécessaires pour l’ expertise. Mais également donner des conseils plus précis et plus rapide.        
      </p>
    </div>
    <div class="image">
      <img src="../img/img53.png" alt="">
    </div>


  </div><!-- ESTIMATION -->
    <div class="estimation">
        <div class="talk-bubble tri-right border round btm-right-in">
            <div class="talktext">
                <h5>Estimation de prix?</h5><br>
                <p>Saisissez le nombre de m² de votre surface, pour lequelle vous voulez faire l'expertise Feng Shui</p>
                <form method="POST" action="{{ path("estimation") }}">
                    <input type="text" placeholder="m²" name="nbMcarre" class="inputMcarre">
                    <button type="submit" class="button" id="buttonCalculer" >Calculer</button> 
                </form>
            </div>
        </div>
        {% if montant is defined %}
        <div class="estimation2">
          <div class='talk-bubble tri-right border round btm-right-in' id='resEstimation'>
            <div class='talktext'>
                <h5>Votre Estimation est de:</h5><br>
                <p>{{ montant }} €<p>
            </div>
          </div>
        </div>
        {% endif %}
    </div><!-- BUDDAH -->

  <div class="buddha">
    <img src="../img/img591.png" alt="" class="">
  </div>
     <!-- Footer -->
         
{% endblock %}
