{% extends "base.html.twig" %}

{% block title %}e-Feng Shui{% endblock %}

{% block body %}

    <div id="contenuContact">
     <h1>{% trans %}Contact form{% endtrans %}</h1>   
        <form method="POST" action="{{ path("contact") }}">
            <div>
                <label >{% trans %}Last and first name{% endtrans %}</label>
                <input class="form-control" type="text" name="nom" >
            </div>
            <div class="form-group">
                <label>{% trans %}Email{% endtrans %}</label>
                <input type="email" class="form-control" id="emailContact" name="email">
            </div>
               <div>
                <label for="prenomContact"{% trans %}>Subject{% endtrans %}</label>
                <input class="form-control" type="text" name="objet">
            </div>
            <div class="form-group">
                <label>{% trans %}Message{% endtrans %}</label>
                <textarea class="form-control" id="msgContact" rows="5" name="msg"></textarea >
            </div>
            <div>
                <input type="submit" value="Envoyer" name="envoyer">
            </div>
        </form>
    </div>
{% endblock %}