{% extends 'base.html.twig' %}


{% block title %} e-Feng Shui {% endblock %}

{% block body %}

<div class="container-mentions">
<div class="jumbotron">
  <h1>MENTIONS LEGALES</h1><br>
            
            <h2>Informations légales</h2>
            <div class="card-body">
            <p>Le site Internet www,eFengShui,fr est immatriculée au répertoire SIRENE sous le numéro SIREN 111 111 111.Raison Sociale : MGK
            Siège social : 80 Jules Ferry 93170 BAGNOLET
            Tél. : 01 55 82 41 41 - E-mail :monicatcaciuc@gmail.com
            Directeur de la publication : CATCACIUC Monica

            Hébergeur
            OVH
            www.ohv.com/fr/</p>
            
            <p>Équipe publication
            Directeur de la publication : 
            Trisectrice éditorial/ artistique: 
            Responsable du site : 
            Direction communication et marketing : KIMPALA Galise</p> 
            
            <p>Données à caractère personnel - Règlement Général sur Protection des Données (RGPD)
            Conformément au RGPD applicable à partir du 25 mai 2018, vous disposez, sur les données relatives aux informations vous concernant, d’un droit :
            - d’accès,
            - de rectification,
            - à l’effacement,
            - à la limitation,
            - à la portabilité,
            - d’opposition,
            - de décision individuelle automatisée. </p>
       
            <p>Vous pouvez l’exercer en adressant :
            - un courrier électronique à l’adresse e-mail suivante : contact@efengshui.fr
            - ou un courrier papier à l’adresse postale suivante: MGK 80 Jules Ferry 93170 BAGNOLET</p>
            </div>

            <h2>Cookies</h2>
            <div class="card-body">
            <p>L’utilisateur du site www.eFengShui.fr est informé que, dès l’instant où il clique sur le bouton « J’ACCEPTE » / « J’AI COMPRIS » sur le bandeau informatif apparaissant lors de sa connexion au site www.eFengShui.fr et précisant « En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies pour réaliser des statistiques de visite. Pour en savoir plus, cliquez ici », un cookie peut être déposé sur son terminal (ordinateur, téléphone mobile, etc.). Un cookie de mesure d’audience est un fichier texte contenant des données non identifiantes. Il sert à établir des statistiques et volumes de fréquentation et d’utilisation des divers éléments composant le site, permettant à MGK d’améliorer la qualité de celui-ci.  L’utilisateur peut configurer son logiciel de navigation de manière à ce que les cookies soient déposés sur son terminal ou, au contraire, qu'ils soient rejetés :
            Pour Internet ExplorerTM :
            http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies
            Pour ChromeTM :
            http://support.google.com/chrome/bin/answer.py?
            hl=fr&hlrm=en&answer=95647
            Pour SafariTM :
            http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html
            Pour FirefoxTM :
            http://support.mozilla.org/fr/kb/Activer%20et%20d%C3%A9sactiver%20les
            %20cookies
            Pour OperaTM :
            http://help.opera.com/Windows/10.20/fr/cookies.html
            A tout moment, l’utilisateur peut faire le choix d'exprimer et de modifier ses souhaits en matière de cookies. Tout paramétrage que l’utilisateur pourrait entreprendre sur son logiciel de navigation concernant le refus des cookies, sera susceptible d’altérer son confort de navigation sur le site.
            La décline toute responsabilité pour les conséquences liées au fonctionnement dégradé du Site résultant du refus de l’utilisateur de l’enregistrement des cookies sur son terminal.</p>
            </div>

            <h2>Propriété intellectuelle</h2>
            <div class="card-body">
            <p>Chacun des éléments techniques, graphiques et rédactionnels qui composent le site Internet www.eFengShui.fr, qu’il s’agisse des marques, logos, textes, images, photographies, illustrations, animations, vidéos, interfaces, programmes informatiques, bases de données, et tout autre élément mis en ligne sur le site et/ou développé par – ou à la demande de – MGK, sont la propriété de cette dernière.
            Le seul droit concédé à l’utilisateur du site www.eFengShui.fr est un droit d'usage sur les contenus mis en ligne par MGK. Ce droit d’usage est concédé à l’utilisateur à titre personnel et non exclusif, et est limité à un usage strictement privé et non lucratif.
            Ce droit d’usage comprend le droit de reproduction aux seules fins suivantes: stockage aux fins de représentation sur un écran monoposte (sur tout support, y compris les supports mobiles), et reproduction en un exemplaire pour effectuer une copie de sauvegarde ou un tirage papier (fonction « imprimer »).
            En dehors des fonctionnalités proposées sur le site, et permettant de «partager » un contenu sur des réseaux sociaux ou de l’adresser par mail à un proche, toute mise en réseau, et, plus largement, toute reproduction, sous quelque forme que ce soit, sont interdites, sans l’autorisation écrite et préalable de MGK.</p>
            </div>
            <h2>Liens hypertextes</h2>
            <div class="card-body">
            <p>Création de liens vers le site Internet de MGK 
            La création de liens vers la page d’accueil du site Internet de MGK est autorisée, après en avoir informé le Directeur de la publication. La création de liens profonds, c’est-à-dire les liens redirigeant vers les autres pages du site Internet de la MGK, est soumise à l’autorisation préalable du Directeur de la publication.
            En aucun cas, le contenu mis en ligne sur le site Internet de MGK ne doit être incorporé, en tout ou partie, à l’intérieur des pages d’un autre site Internet (technique dite du « framing »). D'une façon générale, MGK n'est pas responsable de la présentation qui est faite du contenu du site Internet de MGK sur les sites Internet de tiers.<p>
            </div>

            <h2>Liens vers des sites tiers</h2>
            <div class="card-body">
            <p>Le site Internet de MGK comporte des liens hypertextes vers d’autres sites Internet. Dans la mesure où elle n’exerce aucun contrôle sur le contenu de ces sites, MGK décline toute responsabilité quant aux contenus, publicités, produits, services ou tout autre information disponible sur ou à partir de ces sites.<p>
            </div>
       </div>
    </div>
</div>
{% endblock %}
