{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="errorPage">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    Status Code: 403</h2>
                <div class="error-details">
                    Sorry, your access is refused due to security reasons of our server and also our sensitive data.
                </div>
                <div class="error-actions">
                    <a href="{{ path('accueil') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Page d'accueil </a><a href="{{ path('contact') }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}