{% extends 'base.html.twig' %}

{% block title %} e-Feng Shui {% endblock %}

{% block body %}

<h1>GESTION</h1>
<button id="clientsList">Liste des Clients</button>
<button id="diagList">Liste des Diagnostics</button>
<button id="demandesList">Liste des Demandes</button>
<div>
    <table class="table table-bordered">
        <thead class="entete">   
        </thead>
        <tbody class="corps">
        </tbody>
    </table>
</div>
  
    
{% endblock %}