{% extends 'base.html.twig' %}

{% block title %}Efengshui{% endblock %}

{% block body %}

<h1>GESTION</h1>
<button onclick="myFunction()">Liste des Clients</button>
<button onclick="myFunction()">Liste des Diagnostics</button>
   
{% endblock %}