{% extends "base.html.twig" %}

{% block body %}

<h2 class="h2 text-center mt-3 mb-5">Modifier un utilisateur</h2>

<div class="d-flex justify-content-center">
    <form class="col-md-6 text-center" method="post">
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" value="{{ user is defined ? user.nom : "" }}">
    </div>
    <div class="form-group">
        <label for="nom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" value="{{ user is defined ? user.prenom : "" }}">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="{{ user is defined ? user.email : "" }}">
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" >
    </div>
    
        {% if bouton == "update" %}
            <button type="submit" name="submit" class="btn btn-success"><i class="fa fa-pen"></i></button>
        {% elseif bouton == "delete" %}
            <button type="submit" name="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
        {% elseif bouton == "add" %}
            <button type="submit" name="submit" class="btn btn-dark"><i class="fa fa-save"></i></button>
        {% endif %}
    
    </form>
</div>


{% endblock %}