{% extends 'base.html.twig' %}

{% block title %}Efengshui{% endblock %}

{% block body %}

<h2 class="h2 text-center mt-3 mb-5">Modifier mon compte</h2>

<div class="d-flex justify-content-center">
    <form class="col-md-6 text-center" method="post">
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" value="{{ user is defined ? user.nom : "" }}">
    </div>
        <div class="form-group">
        <label for="nom">Prenom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" value="{{ user is defined ? user.prenom : "" }}">
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" >
    </div>
   <button type="submit" name="submit" class="btn btn-dark">Modifier</button>
    
    </form>

</div>

{% endblock %}